@import url('fonts.css');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
    margin-top: 60px;      /* spazio per header fisso (adatta se diverso) */
    padding-bottom: 80px;  /* spazio per footer fisso (adatta se diverso) */
}
header, .footer-main {
    flex-shrink: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.footer-main {
}

.favorites-container .empty {
    width: 100%; /* occupa tutta la larghezza */
    height: 50vh;     /* centra orizzontalmente */
    color: #555;            /* colore leggermente grigio (opzionale) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorites-container .empty p {
    margin-top: 16px;
}