/* styles.css */



/* Contenitore del processo */
.process-container {
    display: flex;
    gap: 30px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
    justify-content: space-around;
    margin-bottom: 40px; /* Aggiungi spazio tra il processo e la tabella */
}

.process-step {
    display: flex;
    align-items: center;
    color: #333;
    gap: 20px;
    max-width: 250px;
}

.step-number {
    font-size: 1.2em;
    font-weight: bold;
    color: #8fbc8f;
    min-width: 20px;
    text-align: right;
}

/* Icone con immagini */
.step-icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.step-text {
    font-size: 0.9em;
    line-height: 1.4;
}

/* Tabella */
table {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: transparent;
    color: b;
}

td {
    background-color: #f4f4f4;
}

caption {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00695C;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    vertical-align: top;
}

th {

    font-size: 14pt;
}

p {
    font-size: 13pt;
    line-height: 1.6;
}

.column-header {
    font-family: 'Calibri', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.column-content {
    font-family: 'Calibri', sans-serif;
    font-size: 13pt;
    color: #333;
}

.column-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.cta-button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}